body,
*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('path/to/your/font.woff2') format('woff2');
    /* Additional font properties if needed */
  }

body{
    background-color: #4A5759;
}

.wrapper{
    position: absolute;
}

.image-container{
    width: 1920px;
    height: 350px;
    overflow: hidden;
    position: relative;
    }

.header-img{
    width: 100%;
    height: 350px;
    display: block;
}


.bottomright{
    display: flex;
    position: absolute;
    bottom: 100px;
    right: 200px;
    font-size: 80px;
    font-family: impact;    
    color: #222c2e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.bottom2{
    font-family: 'Dancing Script',cursive;
    position: absolute;
    bottom: 95px;
    right: 200px;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    }

    .aside-container{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    align-self: self-start;
    width: 1920px;
    height: 50px;
    background-color: #B0C4B1;
    box-shadow: 0 0 15px #222c2e;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.aside-text{
    font-family: 'Dancing Script';
    color: #222c2e;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
}

.header-bottom{
    align-self: center;
    width: 1920px;
    height: 0.1px;
    overflow: hidden;
    position: relative;
}

.header-bottom{
    width: 100%;
    height: 20px;
    display: block;
    box-shadow: 0 0 15px #222c2e;
}

.main-container{
    width: 50%;
    height: 500px;
    background-color: #84A98C;
    text-align: center;
    margin: 50px auto;
    position: relative;
}

.section-header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 7vh; 
    width: 100%;
    margin: 0;
    background-color: #B0C4B1;
}

.header-title{
    align-self: center;
    font-size:45px;
     font-family: 'Dancing Script';
     color: #222c2e;
}

.section-param{
    display: flex;
    justify-content: flex-start;
    align-items: start;
    font-family: tahoma;
    margin: 1em;
}





 
 
    
   

  
